#pdf-viewer{
	height: 100vh; 						width: 75vw; 					overflow-y: scroll;
	background-repeat: no-repeat;		background-color: #e3eeef;		background-position: center;
	background-image: url(../graphics/loading2.gif);					float: right;
}
canvas{
	display: block;		margin-left: auto;		margin-right: auto;		margin-top: auto;		margin-bottom: auto;
}
#zoom-in{
	height: 40px;		bottom: 20px;			margin-left: 20px;		margin-bottom: 50px;
}
#zoom-out{
	height: 40px;		bottom: 20px;			margin-left: 20px;
}
#make-note{
	height: 50px;		bottom: 30px;			right: 35px;
}
#rotate{
	height: 45px;		top: 20px;				right: 20px;	background-color: white;	border-radius: 50px;
}
.floating-action-button{
	position: fixed;	z-index: 100;
}
.floating-action-button:hover{
 cursor: pointer;
}