#system-viewer{
	float: left;		height: 100vh;			background-color: white;	/*overflow-x: hidden;*/
}/*width: 24vw;*/
#system-header{
	height: 40px;		font-size: 20px;	text-align: middle;		background-color: #C6FF00;		color: white;
	padding-left: 20px;	padding-top: 7px;	position: fixed;		width: 24.5vw;					z-index: 1;
}

#settings{
	height: 30px;		left: 21.5vw;		top: 6px;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
}
#settings-dropdown{
	z-index: 100;		left: 12vw;			position: fixed;	top: 40px;overflow: visible !important;
    width: 150px;
}
#settings-username{
	font-weight: 900;
}
.settings-menu:hover{
	background-color: #ddd;
}

.dropdown-content {
    display: none;		position: absolute;		background-color: white;		min-width: 160px;
    overflow: auto;		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);			z-index: 1;
    left: 12vw;			margin-top: 5px;		
}
.dropdown-content a {
    color: rgba(0,0,0,0.8);		padding: 8px 15px;		text-decoration: none;			display: block;		font-size: 12px;
}

#settings-divider{
	margin: 0px;
}
.selected-tab{
	background-color: #ccc;
}
.show{
	display: block;		z-index: 100;
}

#new-file-catalogue{
	height: 55px;		left: 20vw;		bottom: 10px;
}
#tabview{
	overflow-y: scroll;position: fixed;
top: 80px;
width: 24.5vw;
height: calc(100%-80px);
overflow-y: scroll;
height: calc(100vh - 80px);

}
#files, #catalogues{
	border: none;
}
.tab {
    border: 1px solid #ccc;			background-color: #f1f1f1;		overflow-x: hidden;		width: 24.5vw; 	
    justify-content: space-around;	display: flex;					position: fixed;		top: 40px;
}
/* Style the buttons inside the tab */
.tab button{
    		float: left;		border: none;		outline: none;		width: 12vw;
    cursor: pointer;				padding: 8px 16px;	transition: 0.3s;	font-size: 15px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
	display: none;			padding: 6px 12px;		border: 1px solid #ccc;		border-top: none;
}

#file-catalogue-modal{
    bottom: 63px;			left: 20px;		position: fixed;	padding: 10px 20px;		min-width: 300px;    max-width: 330px;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.panel-group {
    margin-bottom: 1px;
}
.panel-heading:hover{
	cursor: pointer;
}

/* for notes */

.sidenav {
    height: 100%;       width: 0;       position: fixed;    z-index: 100;       top: 0;     left: 0;
    background-color: #111;             overflow-x: hidden; transition: 0.2s;   padding-top: 60px;
    /*padding-left: 20px;*/
}
.sidenav a {
    padding: 8px 8px 8px 32px;  text-decoration: none;      color: #818181;
    display: block;             transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;         top: 0;     right: 15px;    font-size: 50px;    margin-left: 50px;  margin-top: -20px; 
}

#notes-drawer > #new-note-form{
    margin-top: 50px;   margin-left: 20px;
}
.note-form-content{
    width: 220px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* --- notes end --- */

.file-icon{
    height: 15px;       margin-top: -3px;
}
.folder-icon{
    height: 15px;       margin-top: -3px;   margin-right: 5px;
}
#settings:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
